/* ! Banner section ************************************************ */
.banner_wrapper {
  width: 100vw;
  height: 70vh;
  background-color: grey;
  position: relative;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../public/images/astronauts_on_mars.webp") center center/cover;
}

.banner_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner_title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 96px;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.banner_title__strike {
  text-decoration: line-through;
}

.banner_title__main {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

.banner_subtitle {
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  font-weight: 500;
  z-index: 2;


}

/* ! Description section ************************************************ */
.description {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 2rem 0;
}

.description_title {
  text-align: center;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 2rem;
}

.description_content {
  color: #cccccc;
  text-align: justify;
  font-weight: 24px;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}

.description_content span {
  font-weight: 900;
  color: #ffffff;
}

.description_content a {
  color: #e67300;
  text-decoration: underline;
}

.logos {
  display: flex;
  /* width: 400px; */
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.logos svg {
  margin: 0 1rem;
}

/* ! Switch module ************************************************ */
.switch {
  margin: auto;
  width: 400px;
  border: 1px solid #e67300;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px rgba(230, 115, 0, 0.6), inset 0px 0px 20px rgba(0, 0, 0, 0.4);

}

.switch span {
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}

.switch .selected {
  background-color: #ccc;
  color: #333;
}

.card_grid__empty_state {
  margin: auto;
  width: 400px;
  border: 0.5px solid #e67300;
  border-radius: 4px;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px rgba(230, 115, 0, 0.6), inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

/* ! Footer section ************************************************ */
.footer {
  /* width: 100%; */
  margin: 2rem;
  min-height: 30vh;
  border: 1px solid #e67300;
  box-shadow: 0px 0px 10px rgba(230, 115, 0, 0.6), inset 0px 0px 20px rgba(0, 0, 0, 0.4);

  border-radius: 4px;
  padding: 2rem;
}

/* ! Animations ************************************************ */
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e67300, 0 0 20px #e67300, 0 0 25px #e67300, 0 0 30px #e67300, 0 0 35px #e67300;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ffea4d, 0 0 20px #ffea4d, 0 0 25px #ffea4d, 0 0 30px #ffea4d, 0 0 35px #ffea4d, 0 0 40px #ffea4d;
  }
}

/* ! Media queries */
@media screen and (max-width:1200px) {
  .banner_title {
    font-size: 48px;
  }

  .banner_subtitle {
    margin-top: 2rem;
    font-size: 18px;
    text-align: center;
  }

  .description {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width:500px) {
  .banner_wrapper {
    background: url("../public/images/astronauts_on_mars_2.webp") center center/cover;
    height: 100vh;
  }

  .banner_title {
    font-size: 28px;
  }

  .banner_subtitle {
    margin-top: 2rem;
    font-size: 16px;
    text-align: center;
  }

  .switch {
    width: 280px;

  }

  .switch span {
    font-size: 16px;
  }

  .description_title {
    font-size: 20px;
    padding: 0 1rem;
  }

  .description_content {
    font-size: 16px;
  }

  .card_grid__empty_state {
    width: 90vw;
    font-size: 16px;
  }

  .footer {
    margin: 2rem auto;
    width: 90vw;
    padding: 1rem;
  }
}